@import "meyerweb.css";

/* *** START PAGE STYLING *** */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E8E8E8; /* 7.22 contrast ratio @ mobile */
    color: #0F4C81; /* 2020 PANTONE 19-4052 Classic Blue */
    font-family: Lato, Helvetica, sans-serif;
    margin: 0 auto;
}

#wrapper {
    margin: 0 auto;
    width: 360px;
}

/* Flex Elements */
body, wrapper, header, .searchBar, #mainMenu, .mainLinks, main, section, #cardsWrapper, .card, #toTop, footer, .hamburger, .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Column Flex */
#wrapper, .mainLinks, #toTop, main, section, #cardsWrapper, .card, footer, .hamburger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header, footer {
    background-color: #BEBEBE; /* 4.76 contrast @ mobile */
}

/* HEADER */
header {
    height: 67px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}

/* LOGO */
header > .logo {
    margin: 10px 0 10px 5px;
    width: 45%;
}

.logo > a {
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
    color: #0F4C81;
}


/*Search Bar*/
.searchBar {
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: center;
    margin: 0 20px 0 0;
    width: 47%;
}

label {
    display: none;
}

input[name="search"] {
    background: transparent;
    border: none;
    border-bottom: 1.2px solid #000;
    caret-color: #000;
    height: 25px;
    width: 140px;
    -webkit-transition: width .35s;
    transition: width .35s;
}

input[name="search"]:focus{
    width: 155px;
    outline: none;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

::placeholder {
    text-align: center;
    font-weight: 600;
}

.srcBtn {
    background-color: transparent;
    border: none;
    margin: 0 0 3px -10px;
    padding: 4px;
}

/*PROGRESS BAR*/
.barContainer {
    width: 100%;
    background-color: darkgray;
    height: 8px;
    margin: 0 0 -5px 0;
}     
.progressBar {
    width: 0%;
    height: 8px;
    background-color: aqua;
}

/* MAIN NAV */
#mainMenu {
    background-color: #404040;
    width: 100vw;
    position: fixed;
    top: 60px;
    bottom: 129px;
    display: none;
    padding-top: 100px;
    height: 100vh;
}

.mainLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    list-style: none;
}

.mainLinks li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mainLinks a {
    color: #fff;
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
}

.home {
    margin-left: 10%;
}

.portfolio {
    margin-left: 25%;
}

.contact { 
    margin-left: 50%;
}

/* MAIN */
main {
    margin: 60px 0 180px;
}

section {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title {
    margin: 20px auto 0;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
}

.mainPic {
    margin: 15px 0 10px;
    padding: 0 20px;
    width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 20px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

section > ul {
    margin: 10px 8px 0;
    list-style: square;
}

section > ul > li {
    line-height: 1.3;
    margin: 5px 10px 5px 35px;
}

/* PROJECTS SECTION */
h3 {
    font-weight: 600;
    margin: 30px 0 0;
}

/* CARDS */
.card {
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(209,207,209,0.5);
    box-shadow: 10px 10px 5px 0px rgba(209,207,209,0.5);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card > a:first-child {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0 0 0;
    -ms-flex-item-align: center;
    align-self: center;
}

.card > h2 {
    font-size: 16px;
    margin: 16px 0 10px 0;
    font-weight: 700;
}

.card > ul {
    -ms-flex-item-align: start;
    align-self: center;
    list-style-type: square;
    margin-left: 40px;
}

.card > ul > li {
    padding: 3px;
}

.card > a:last-child {
    -webkit-text-decoration-color: #00e;
    text-decoration-color: #00e;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 4px 10px 0 0;
    margin-top: auto; /* keeps the link @ bottom of card */
}

.card2 > a > img {
    width: 84px;
    height: 150px;
}

.card4 > a > img {
    height: 150px;
}

.card4 > ul >li:nth-last-of-type(2) {
    font-weight: 700;
}

/* To Top */
#toTop {
    position: fixed;
    bottom: 120px;
    left: 10px;
    background-color: #BEBEBE;
    font-weight: 700;
    padding: 4px;
    border-radius: 8px;
    visibility: hidden;
}

/* FOOTER */
footer {
    padding-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 105px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hamburger {
    height: 32px;
    width: 32px;
    margin: 0 15px 0 32px;
    border: 1px solid #000;
    border-radius: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 8px;
    font-weight: 500;
    padding: 2px 0 0 0;
    font-weight: 700;
}

.social {
    list-style: none;
    height: 29px;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.social > li {
    margin: 0 8px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
}

footer > .logo {
    margin: 10px 0 10px 5px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 2;
    display: none;
}

.copyRight {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 320px) {
    #wrapper {
        width: 320px;
    }
    .mainLinks {
        height: 45vh;
    }
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
    .mainLinks {
        height: 15vh;
    }
}

@media only screen and (min-width: 375px) {
    #wrapper {
        width: 375px;
    }
    .searchBar {
        width: 40%;
    }
}

@media only screen and (min-width: 375px) and (orientation: landscape) {
    .mainLinks {
        height: 25vh;
    }
}

@media only screen and (min-width: 425px) {
    #wrapper {
        width: 425px;
    }
    .searchBar {
        width: 35%;
    }
}

@media only screen and (min-width: 425px) and (orientation: landscape) {
    .mainLinks {
        height: 17vh;
    }
}

/* TABLET SIZE */
@media only screen and (min-width: 768px) {
    #wrapper {
        width: 768px;
    }
    header .logo {
        width: auto;
    }
    #mainMenu {
        background-color: #BEBEBE;
        z-index: 0;
        height: 60px;
        position: static;
        top: 0;
        display: block;
        padding: 0;
        width: 44%;
    }
    .mainLinks {
        height: 60px;
        padding: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .mainLinks li {
        margin: 0;
    }
    .mainLinks a {
        font-weight: 600;
        padding: 8px 10px;
        color: black;
        font-size: 14px;        
    }
    .mainLinks a:active {
        color: #e00;
    }
    .searchBar {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        padding: 0 30px 0 0;
        width: 20%;
    }
    input[name="search"]:focus{
        width: 165px;
    }
    .barContainer {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    main {
        margin: 67px 0 90px;
    }
    .mainPic {
        height: 325px;
        padding: 0 30px;
    }
    section > ul > li {
    margin: 5px 10px 5px 45px;
    } 
    #cardsWrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .card {
        width: 46%;
    }
    .card3, .card6 {
        display: none;
    }
    #toTop {
        right: 10px;
        bottom: 75px;
        left: auto; /* clears the placement of the button on the left side */
    }
    /* FOOTER */
    footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 70px;
    }
    .hamburger {
        display: none;
    }
    footer > .logo {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: block;
    }
    .social {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-right: 50px;
    }
}


/* LAPTOP SIZE */
@media only screen and (min-width: 1024px) {
    body, #wrapper, header, footer {
        width: 1024px;
    }
    body {
        background-color: #DCDCDC;
         margin: 0 auto;
    }
    #wrapper {
        background-color: #F8F8F8; /* 8.33 contrast ratio @ laptop */
    }
    header, footer {
        background-color: #E8E8E8; /* 7.22 contrast @ laptop */
        left: auto;
        right: auto;
    }
    .barContainer {
        background-color: #E8E8E8;
    }
    .logo {
        padding: 10px;
    }
    .logo > a {
        font-weight: 800;
        position: relative;
        font-size: 18px;
    }
    .logo > a:hover {
        font-weight: 900;
        background-color: #DCDCDC;
    }
    .logo a::before, .logo a::after {
        content: "";
        position: absolute;
        background-color: black;
        width: 100%;
        height: 3px;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 250ms ease-in;
        transition: -webkit-transform 250ms ease-in;
        transition: transform 250ms ease-in;
        transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
    }
    a::before {
        top: 0;
        right: 0;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
    } 
    a::after {
        bottom: 0;
        left: 0;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
    }       
    a:hover::before {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
    }
    a:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
    }
    #mainMenu {
        background-color: #E8E8E8; /* 7.22 contrast @ laptop */
        width: 60%;
    }
    .mainLinks {
        margin: 0 16px 0 375px;
    }
    .mainLinks li {
        position: relative;
        margin: 0 5px;
        padding-bottom: 2px;
    }
    .mainLinks li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 2px;
        background-color: #00e;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
    }
    .mainLinks li a:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .mainLinks a {
        font-size: 16px;
        font-weight: 600;
        padding: 0;
    }
    .mainLinks a:hover {
        color: #00e;
    }
    .searchBar {
        width: 15%;
    }
    input[name="search"]:focus{
        width: 140px;
    }
    .srcBtn:hover {
        cursor: pointer;
        color: green;
        background-color: #D3D3D3;
        border-radius: 5px;
    }
    main {
        margin: 70px 0 0 0;
        padding-bottom: 100px;
    }
    .title {
        font-size: 20px;
    }
    section > ul {
        margin: 10px 20px 0;
    }
    #cardsWrapper {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .card {
        width: 30%;
    }
    .card3, .card6 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .card > a:hover {
        color: #00e;
        font-weight: 500;
    }
    .gitHub {
        display: inline-block;
        -webkit-transition:  .8s;
        transition:  .8s;
    }
    .gitHub:hover {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
    #toTop {
        right: 30px;
        bottom: 90px;
    }
    #toTop:hover {
        cursor: pointer;
        background-color:#0c0;
        color: #fff;
    }
    .social > li {
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
        transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
    }
    .social > li:hover {
         -webkit-transform: rotateY(360deg);
         transform: rotateY(360deg);
    }
    .fa-github:hover {
        color:#040204;
    }
    .fa-linkedin:hover {
        color:#04669A;
    }
    footer {
        height: 90px;
    }
}


@media only screen and (min-width: 1440px) {
    #wrapper {
        width: 1440px;
    }
    .mainLinks {
        margin-left: 375px;
    }
}